* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.banner-container {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    color: white;
    min-height: 500px;
    /* max-width: 1200px; */
}

.banner-content {
    padding-top: 130px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.banner-header {
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 20px;
}

.banner-title {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 20px;
}

.banner-disc {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    padding-right: 460px;
}
.btn-container{
    display: flex;
    flex-direction: row;
}
.btn {
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 100;
    margin-right: 20px;
    border-radius: 5px;
}

.buy-btn {
    background: #FFC107;
    color: black;
}

.visit-btn {
    background: #17A2BB;
    color: white;
}

.brand-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;

}

.bg-apple {
    background: linear-gradient(45deg, #f54ea2, #ff7676);
}

.bg-oppo {
    background: linear-gradient(45deg, #ca3cf8, #00BCD4);
}

.bg-nokia {
    background: linear-gradient(45deg, #36a1ff, #16c7dd);
}

.bg-walton {
    background: linear-gradient(45deg, #ff479c, #ffac11);
}

.card img {
    width: 250px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.brand-title {
    background: #0000001A;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.offer-container {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 30px;
    margin: 0px 40px 80px 40px;
    width: 1150px;
    height: 300px;

}

.offer {
    background: url('../images/banner/banner-1.jpg');
}

.offer-title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}

.offer-disc {
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    line-height: 25px;
    padding-right: 400px;
}

.friday {
    position: relative;

}

.friday>img {
    width: 100%;
}

.friday-title {
    position: absolute;
    top: 0;
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 62px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.product-container {
    margin-bottom: 40px;
    margin-top: 80px;
    background-color: #f8f9fa;
    padding-bottom: 20px;
}

.section-title {
    font-size: 30px;
    font-weight: 500;
    padding-top: 80px;
    margin-left: 40px;
    color: black;

}

.section-disc {
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    line-height: 25px;
    padding-right: 400px;
}

.product-card>img {
    /* padding: 20px; */
    /* background-color: red; */
}

.product-list-card-container {

    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
    /* margin-left: 10px;
    margin-bottom: 10px; */
    gap: 10px;
}

.product-card {
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
    background-color: #fff;


}

.product-name {
    background-color: #f6f6f6;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: #f6f6f6;
    font-weight: 500;

}

.product-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 0 20px;
}

.product-details-container>h2 {
    font-weight: 500;
    font-size: 20px;

}

.product-btn {
    padding: 5px 10px 5px 10px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 100;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}

footer {
    background-color: #35064C;
    color: white;
    text-align: center;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-title {
    font-size: 33px;
    font-weight: 500;


}

.footer-disc {
    font-size: 16px;
    font-weight: 100;
    margin-top: 12px;
    line-height: 25px;
}

@media screen and (max-width: 768px)  {

    .banner-disc {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 20px;
        padding-right: 10px;
    }
    .brand-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-details-container {
        display: flex;
        flex-wrap: wrap;
    }

    .product-list-card-container {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;

    }

    .offer-container {
        grid-template-columns: 1fr;
        /* Switch to single column layout */
        gap: 20px;
        /* Adjust gap */
        padding: 0;
        width: 700px;
        height: 600px;
        margin: 0px 40px 0px 40px;

    }

    .offer {
        height: 250px;

    }

    .friday {
        height: 350px;

    }

    .offer-title {
        font-size: 20px;
        /* Adjust font size for smaller screens */
        margin-top: 15px;
        /* Adjust margin */
    }

    .offer-disc {
        font-size: 12px;
        /* Adjust font size for smaller screens */
        line-height: 18px;

        /* Adjust line height */
    }

    .friday-title {
        font-size: 20px;
        /* Adjust font size for smaller screens */
        top: 0;
        margin-top: 30px;
        padding-left:270px;
        padding-right: 270px;
        text-align: center;
        font-weight: 500;
    }

    .friday>img {
        height: 300px;
    }

    .product-container {
        margin-bottom: 40px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .section-title {
        padding-top: 40px;
    }

}

@media screen and (max-width: 425px) {
    .banner-container {
        min-height: 330px;
    }

    .banner-content {
        padding-top: 100px;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .banner-header {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .banner-title {
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 20px;
    }

    .banner-disc {
        font-size: 15px;
        font-weight: 100;
        margin-bottom: 20px;
        padding-right: 40px;
    }

    .card {
        margin-bottom: 20px;
    }



    .brand-container {
        margin-top: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 80px;

    }

    .offer-container {
        grid-template-columns: 1fr;
        /* Switch to single column layout */
        gap: 20px;
        /* Adjust gap */
        padding: 0;
        width: 300px;
        height: 600px;
        margin: 0px 0px 0px 10px;

    }

    .offer {
        width: 300px;
        height: 250px;

    }

    .friday {
        width: 300px;
        height: 350px;

    }

    .offer-title {
        font-size: 20px;
        /* Adjust font size for smaller screens */
        margin-top: 15px;
        /* Adjust margin */
    }

    .offer-disc {
        font-size: 12px;
        /* Adjust font size for smaller screens */
        line-height: 18px;
        padding-right: 0px;

        /* Adjust line height */
    }

    .friday-title {
        font-size: 20px;
        /* Adjust font size for smaller screens */
        top: 0;
        margin-top: 30px;
        padding-left:55px;
        padding-right: 55px;
        text-align: center;
        font-weight: 500;
    }

    .friday>img {
        height: 300px;
    }
    

   
.section-disc {
  
    padding-right: 20px;
}
}